<h1>Lista de Productos</h1>
{{#each payload}}
  <div>
    <h3>{{this.title}}</h3>
    <p>Precio: ${{this.price}}</p>
    <a href="/products/{{this._id}}">Ver detalles</a>
    <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
  </div>
{{/each}}

{{#if hasPrevPage}}
  <a href="{{prevLink}}">Anterior</a>
{{/if}}
{{#if hasNextPage}}
  <a href="{{nextLink}}">Siguiente</a>
{{/if}}
